.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1000;
  pointer-events: none;
}

.modal-content {
  position: relative;
  background: white;
  border-radius: 12px; /* 둥근 모서리 */
  max-width: 450px; /* 고정된 최대 너비 */
  width: 90%; /* 작은 화면에서는 반응형으로 작동 */
  max-height: 70%; /* 전체 화면 높이의 80%로 제한 */
  overflow-y: auto; /* 내용이 많을 때 스크롤 가능 */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* 부드러운 그림자 */
  pointer-events: auto; /* 모달 내용은 클릭 가능 */
  
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: #666; /* 기본 텍스트 색상 */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s; /* 전환 효과 */
}

.modal-close:hover {
  background-color: rgba(0, 0, 0, 0); /* 호버 시 배경색 */
  color: #ff4d4d; /* 호버 시 텍스트 색상 */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95); /* 약간 축소된 상태에서 시작 */
  }
  to {
    opacity: 1;
    transform: scale(1); /* 정상 크기로 확장 */
  }
}


