.chatContainer {
  display: flex;
  flex-direction: column;
  height: 650px; 
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 8px; 
  background-color: #f8f9fa; /* Chat background color */
}



.chatTitle {
  padding: 15px; 
  background-color: #ff5757; /* Title background color */
  border-bottom: 1px solid #ccc; /* Separator line */
  text-align: center; 
  font-weight: bold; 
  font-size: 20px; 
  white-space: nowrap; /* Prevent title from wrapping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Ellipsis for overflowed text */
  position: sticky; /* Make the title sticky */
  top: 0; /* Stick to the top */
  z-index: 1; /* Ensure it stays above other elements */
}

.chatMessages {
  flex: 1; /* Take the remaining space */
  overflow-y: auto; /* Only the messages area should scroll */
  padding: 10px;
  display: flex;
  flex-direction: column; 
  margin-top: 0; /* Remove any margin to align with title */
  /* To prevent horizontal scrolling */
  width: 100%; /* Ensure full width */
  box-sizing: border-box; /* Include padding in width */
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.messageWrapper {
  display: flex;
  align-items: flex-end; /* Align items at the bottom */
  margin-bottom: 10px; /* Space between message wrappers */
}

.sentWrapper {
  justify-content: flex-end; /* Align sent messages to the right */
}

.receivedWrapper {
  justify-content: flex-start; /* Align received messages to the left */
}

.message {
  max-width: 70%; /* Maximum width of message balloons */
  padding: 10px; /* Padding inside the message */
  border-radius: 15px; /* Rounded corners for message balloon */
  position: relative;
}

.sent {
  background-color: #dcf8c6; /* Background color for sent messages */
  color: #000; /* Text color for sent messages */
  margin-left: 10px; /* Space for the timestamp */
}


.sentTime {
  font-size: 10px; /* Font size for sent time */
  color: #aaa; /* Color for sent time */
  margin-right: 5px; /* Space between the timestamp and the message */
}

.receivedTime {
  font-size: 10px; /* Font size for received time */
  color: #aaa; /* Color for received time */
  margin-left: 5px; /* Space between the timestamp and the message */
  align-self: flex-end;
}

.received {
  background-color: #fff; /* Background color for received messages */
  color: #000; /* Text color for received messages */
  margin-right: 10px; /* Space for the timestamp */
}


.messageContent {
  position: relative;
  word-wrap: break-word;
}


.inputWrapper {
  display: flex; 
  align-items: center; 
  padding: 10px; 
  border-top: 1px solid #ccc; 
}

.messageInput {
  flex: 1; 
  padding: 10px;
  border: none;
  border-radius: 20px; 
  font-size: 15px;
  background-color: #f8f8f8;
  margin-right: 10px; 
  transition: background-color 0.3s; 
  min-width: 350px; 
}

.messageInput:focus {
  outline: none; /* Remove default outline */
  background-color: #e8e8e8; /* Darker background on focus */
}

.sendButton {
  padding: 8px 12px; /* Adjust padding to make the button smaller */
  border: none;
  border-radius: 20px; /* Match input field's border radius */
  background-color: #ff5757;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition */
  min-width: 70px; /* Set a minimum width for the button */
}

.sendButton:hover {
  background-color: #e53935;
}


