.like {
    text-align: center;
}

.like h2 {
    margin-bottom: 70px;
    text-align: left;
    font-size: 30px;
    color: #ff5757;
}

.like table {
    width: 100%;
    border-collapse: collapse;
}

.like th, .like td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.like td, .like th {
    border-bottom: 1px solid #ddd;
}

.like td {
    border-right: 1px solid #ddd;
}

.like td:last-child {
    border-right: none;
}

.likeProductInfo {
    display: flex;
    align-items: center;
}

.likeProductImage {
    width: 100px; /* Fixed width */
    height: 100px; /* Fixed height */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
    margin-right: 10px;
}

.likeProductName {
    margin: 0;
    text-align: center;
}

/* 상품 부분 너비 */
.like th:first-child, .like td:first-child {
    width: 75%;
}

/* 가격 부분 너비 */
.like th:nth-child(2), .like td:nth-child(2) {
    width: 15%;
}

/* 삭제 버튼 부분 너비 */
.like th:last-child, .like td:last-child {
    width: 10%;
}

/* 삭제 버튼 스타일 */
button {
    padding: 8px 12px;
    background-color: #ff5757;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e53935;
}
