.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 60px;
}

.hr1 {
  border: 0;
  height: 3px;
  background: #ff5757;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hr2 {
  /* border:1px dashed #ff5757; */
  border: 2px;
  height: 2px;
  background: #ff5757;
  margin-top: 100px;
  margin-bottom: 70px;
}



form div {
  margin-bottom: 40px;
} 


label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

textarea {
  resize: vertical;
  min-height: 250px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #ff5757;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #fc3f3f;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.imageContainer {
  display: flex;
  align-items: flex-start; 
  gap: 20px;
}

.imgButton {
  background: none;
  border: none;
}

.imgButton:hover {
  background-color: transparent;
}

.imgIcon {
  width: 135px;
  height: 135px;
}

.previewsContainer {
  display: flex;
  flex-wrap: wrap;
}

.previewWrapper {
  position: relative;
  margin-bottom: 0px;
  margin-right: 10px;
}

.preview {
  width: 135px;
  height: 135px;
  object-fit: cover;
  margin-top: 10px;
}

.xbutton {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.xbutton:hover {
  background-color: transparent;
}

.xbutton img {
  width: 100%;
  height: 100%;
}


.radioContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.radioLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
}

.radio {
  margin-bottom: 15px; /* 간격 조절 */
}

.inputHalf {
  width: 70%;
}