/* Footer.module.css */

.footer {
  padding: 40px 20px;
  background-color: #ff5757;
  color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.section {
  width: 35%;
  margin: 0 20px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  padding: 0;
  margin-left: 0;
}

.item {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 10px;
  text-align: center;
}

.iconLink {
  margin-left: 10px;
  color: #f8f9fa;
  text-decoration: none;
  font-size: 20px;
}

.iconLink:hover {
  color: #e94560;
}

.bottom {
  border-top: 1px solid #f8f9fa;
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

.copy {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}
.iconLink {
  margin-left: 10px;
  color: #f8f9fa;
  text-decoration: none;
  font-size: 20px;
}

.iconLink:hover {
  color: #e94560;
}
