@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

.container {
  max-width: 90%;
  margin: auto;
}

.footer {
  padding: 40px 0;
  background-color: #ff5757;
  color: #f8f9fa; 
}

.footer .box {
  margin-bottom: 20px;
}

.footer h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.footer h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.footer ul li a {
  color: #f8f9fa;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #e94560;
}