@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

.container {
  max-width: 90%;
  margin: auto;
}

.d_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #e94560;
}

.header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky; 
  top: 0; 
  z-index: 1000; 
}

.logo img {
  max-width: 100%;
  height: auto;
}

.search-box {
  flex: 1;
  margin: 0 20px;
  position: relative;
}

.search-box input {
  width: 100%;
  padding: 12px 20px;
  border: none;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #495057;
  outline: none;
}

.search-box .icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #6c757d;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu a {
  margin: 0 15px;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.nav-menu a:hover {
  color: #ff5757;
}

.auth-button {
  display: flex;
  align-items: center;
}

.auth-button a {
  margin-left: 15px;
  color: #ff5757; 
  text-decoration: none;
  font-weight: bold;
}

.auth-button a:hover {
  color: #ff5757;
}