@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

.container {
  max-width: 90%;
  margin: auto;
}

.product-section {
  padding: 20px 0;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.heading-left h2 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.product-box {
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 15px; /* Increased margin for more spacing */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-box:hover {
  transform: translateY(-5px);
  box-shadow: rgb(43 52 69 / 20%) 0px 6px 20px;
}

.img-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.img-container img:hover {
  transform: scale(1.1);
}

.product-details {
  text-align: center;
  margin-top: 10px;
}

.product-details h4 {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.product-details span {
  font-size: 12px;
  font-weight: 500;
  color: #ff5757;
}

.product-details small {
  display: block;
  font-size: 10px;
  color: #777;
  margin-top: 5px;
}

.more-button-container {
  text-align: center;
  margin-top: 20px;
}

.more-button {
  background-color: #ff5757;
  color: #fff;
  border: none; /* No border */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.more-button:hover {
  background-color: #e94560;
}