.maincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  
  
}

.title {
  color: coral;
  font-weight: bold;
}


.signupcontainer {
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: 70px auto; /* 위아래 여백을 조절하여 화면 중앙에 위치하도록 조정 */
  padding: 80px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
  /* align-items: center; */
  
}

.signupcontainer h4 {
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center; /* 제목을 가운데 정렬 */
}



.formgroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}


/* .form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type=tel] {
  width: calc(100% - 22px); 
  padding: 14px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; 
  
} */

.formgroup input,
.formgroup select,
.formgroup button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.emailcontainer {
  display: flex;
  align-items: center;
}

.emailcontainer input {
  width: auto;
  flex: 2;
}

.emailcontainer select {
  flex: 1;
}

.emailcontainer span {
  margin: 0 5px;
}



.errormessage {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
.okmessage {
  color: blue;
  font-size: 14px;
  margin-top: 5px;
}


.signupbtn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: coral;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signupbtn:hover {
  background-color: #e1600f;
  transition : 0.7s;
}



.link {
  text-align: right;
}

.link a {
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}

.link a:hover {
  text-decoration: underline;
}


/* input안에 주소 검색버튼 삽입 */
.address {
  position: relative;
}
.address button {
  position: absolute;
  width: 100px;
  height: 40x;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  border-radius: 3px;
}



